<div class="footer-area">
    <div class="container">
        <div class="subscribe-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="newsletter-content">
                        <h2>انضم للأخبار الأن</h2>
                        <p>انضم لنا ليصلك كل جديد</p>
                    </div>
                </div><!--./col-->

                <div class="col-lg-6 col-md-12">
                    <form action="" class="newsletter-form">
                        <input type="email" class="input-newsletter" placeholder="البريد الإلكتروني" name="email">
                        <div class="more-services-btn">
                            <a href="#" class="btn btn-primary">
                                أشترك الأن
                                <i class="fas fa-paper-plane"></i>
                            </a>
                        </div>
                    </form>
                </div><!--./col-->
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <a href="#">
                            <img src="./assets/otlob Doctor.png" alt="logo" draggable="false">
                        </a>
                        <p>اطلب دكتور تعمل علي تطوير وتسهيل الخدمة الطبية المقدمة لك وتوفير الوقت للوصول إلى أفضل النتائج وتحقيق معدل أمان دائمًا .. وأهم ما نسعى إليه هو مساعدتك في الحفاظ على صحتك</p>
                    </div>
                    <div class="social w-50">
                        <ul class="navbar-nav ">
                          <li class="nav-item">
                            <div class="icon">
                              <i class="fab fa-facebook-square"></i>         
                            </div>
                          </li>
                  
                          <li class="nav-item">
                            <div class="icon">
                              <i class="fab fa-twitter"></i>         
                            </div>
                          </li>
                          <li class="nav-item">
                            <div class="icon">
                              <i class="fab fa-linkedin-in"></i>         
                            </div>
                          </li>
                  
                          <li class="nav-item">
                            <div class="icon">
                              <i class="fab fa-instagram"></i>         
                            </div>
                          </li>
                          </ul>
                      </div>
                </div>
            </div><!--./col-->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>أقسام</h3>
                    <ul class="departments-list">
                        <li><a href="#">دكتور</a></li>
                        <li><a href="#">تمريض</a></li>
                        <li><a href="#">تحاليل</a></li>
                        <li><a href="#">أشعه</a></li>
                    </ul>
                </div>
            </div><!--./col-->

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>لينكات</h3>
                    <ul class="links-list">
                        <li><a href="#">دكتور</a></li>
                        <li><a href="#">تمريض</a></li>
                        <li><a href="#">تحاليل</a></li>
                        <li><a href="#">أشعه</a></li>
                    </ul>
                </div>
            </div><!--./col-->
        </div><!--./row-->
        <div class="copyright-area">
            <p>
                <i class="far fa-copyright"></i>
                copyright reserved for
                <a href="#">Otlob-Doctor</a>
            </p>
        </div>
    </div>
</div>