

<div class="our-vision-area pd pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6" *ngFor="let vision of visions">
                <div class="single-vision-box">
                    <div class="icon">
                        <i class="fas fa-check"></i>
                    </div>
                    <h3>{{vision.title}}</h3>
                    <p>{{vision.content}}</p>
                </div>
            </div><!-- ./col -->
        </div>
    </div>
</div>