

<div class="feedback-area pd mt-3">
    <div class="section-title w-100">
        <span>الأراء</span>
        <h2>عملائنا الكرام</h2>
        <p>تعرف علي اراء العملاء</p>
    </div>

    <div class="container w-50">
        <div class="feed-back">
            <div class="feedback-slides mt-5">
                <div class="slide-image">
                    <ngx-slick-carousel class="carousel" class="slick"
                    #slickModal="slick-carousel" 
                    [config]="slideConfig" 
                    >
                    
                    <div ngxSlickItem *ngFor="let client of clients" class="slide">
                        <div class="photo">
                            <img src="{{ imagePrefix + client.Photo }}" alt="" >
                          
                        </div>
                        <div class="content mt-5">
                            <h6>{{client.Name}}</h6>
                            <p>{{client.Feedback}}</p>
                        </div>
                    </div>
                    </ngx-slick-carousel>
                </div>
            </div>
        </div>
    </div>
</div>

