<div class="faq-area pd-t">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-lg-6 col-md-12 p-0">
                <div class="faq-image">
                    <img src="./assets/questions/background.jpeg" alt="question-image" draggable="false">
                </div>
            </div><!--./col-->

            <div class="col-lg-6 col-md-12 p-0">
                <div class="faq-accordion">
                    <div class="section-title w-100">
                        <span>الاسئله الشائعه</span>
                        <h2> الاسئله الشائعه</h2>
                    </div>
                    <ul class="accordion">
                        <li class="accordion-item">
                            <a href="#" class="accordion-title active">
                                <i class="fas fa-plus"></i>
                                ماهي الخدمات التي تقدمونها ؟
                            </a>
                            <p class="accordion-content">
                                جميع الخدمات الطبيه/ كشف منزلي.. تمريض منزلي ..علاج طبيعي.. مساعد طبي... جليس مسنين..
                            </p>
                        </li><!-- ./accordion-item -->

                        <li class="accordion-item">
                            <a href="#" class="accordion-title">
                                <i class="fas fa-plus"></i>
                                ماهي الاماكن التي تقدمون بها خدماتكم؟
                            </a>
                            <p class="accordion-content">
                                جميع انحاء الجمهوريه وخاصه القاهره الكبرى والجيزه والتجمعات...
                            </p>
                        </li><!-- ./accordion-item -->

                        <li class="accordion-item">
                            <a href="#" class="accordion-title">
                                <i class="fas fa-plus"></i>
                                هل الخدمه متاحه على مدار 24 ساعه؟
                            </a>
                            <p class="accordion-content">
                                نعم الخدمه متاحه على مدار 24 ساعه 7 ايام في الاسبوع.... 
                            </p>
                        </li><!-- ./accordion-item -->
                        <li class="accordion-item">
                            <a href="#" class="accordion-title">
                                <i class="fas fa-plus"></i>
                                هل لديكم خدمه الرعايه الصحيه عن بعد و هل هي خاصه وامنه؟
                            </a>
                            <p class="accordion-content">
                                نعم لدينا اطباء ذو مهاره وخبره كبيره وتعد خصوصيه المريض من اولوياتنا...
                            </p>
                        </li><!-- ./accordion-item -->

                        <li class="accordion-item">
                            <a href="#" class="accordion-title">
                                <i class="fas fa-plus"></i>
                                هل الوكاله مرخصه وهل يحمل مقدموا الرعايه الصحيه ترخيصا ؟
                            </a>
                            <p class="accordion-content">
                                نعم الوكاله مرخصه وخاضعه للمراجعه الدوريه يمكنك الرجوع الى الاداره ومن ثم الى الاداره الصحيه التابعه للتحقق من ذلك...
                            </p>
                        </li><!-- ./accordion-item -->

                        <li class="accordion-item">
                            <a href="#" class="accordion-title">
                                <i class="fas fa-plus"></i>
                                هل يمكن للمساعد الصحي ان يقدم يقدم الدعم المنزلي؟
                            </a>
                            <p class="accordion-content">
                                نعم يقوم المساعد بتقديم الخدمات خدمات الدعم المنزلي كالنظافه والطهي والقيام بالاعمال...
                            </p>
                        </li><!-- ./accordion-item -->
                    </ul>
                </div><!--./faq-accordion-->
            </div>
        </div>
    </div>
</div>