
<div class="about-area pd">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-lg-6 col-md-12 p-0">
                <div class="about-image">
                   <img src="./assets/about/about.jpeg" alt="about"> 
                </div>
            </div> <!--./col-->

            <div class="col-lg-6 col-md-12 p-0">
                <div class="about-content">
                    <span>عن اطلب دكتور</span>
                    <h4>مؤسسه علاجيه تقدم خدمه رعايه طبيه منزليه متكامله .. لتوفير الخدمه الصحيه لك ولعائلتك داخل بيتك علي مدار 24 ساعه طوال الاسبوع</h4>
                    <p>اطلب دكتور تعمل منذ عام 2019
                        تطوير وتسهيل الخدمة الطبية المقدمة لك وتوفير الوقت للوصول إلى أفضل النتائج وتحقيق معدل أمان دائمًا .. وأهم ما نسعى إليه هو مساعدتك في الحفاظ على صحتك</p>
                    <ul>
                        <li>
                            <i class="fas fa-check"></i>
                            أطباء وممرضين متخصصين بأعلي مستوي ، خبره في التعامل مع الزيارات المنزليه 
                        </li>
                        <li>
                            <i class="fas fa-check"></i>
                            توفير كل الخدمات اللي موجوده في المستشفي بدون ما تخرج من بيتك 
                        </li>
                        <li>
                            <i class="fas fa-check"></i>
                            سرعه الأستجابه                        
                         </li>
                        <li>
                            <i class="fas fa-check"></i>
                            أسعار مميزه للخدمات 
                        </li>
                    </ul>   
                    
                    <a href="#" class="btn btn-primary" routerLink="/about">عن اطلب دكتور
                        <i class="fas fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>