
<div class="book">
    <div class="book-header">
            <span>أحجز الآن</span>
            <h2>نحن هنا من أجلك</h2>       
    </div>


    <form>

        <div class="form-group">
            <label class="form-label">الاسم</label>
            <input type="text" class="form-control" placeholder="الأسم">


            <select class="form-select" aria-label="Default select example">
                <option selected>اختار الخدمه</option>
                <option value="1">واحد</option>
                <option value="2">اتنين</option>
                <option value="3">تلاته</option>
              </select>
        </div>
    </form>
</div>