<div class="fun-facts-area pd">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="single-fun-facts">
                    <div class="icon">
                        <i class="fas fa-user-md"></i>
                    </div>
                    <h3>
                        <span class="optional-icon">+</span>
                        <tm-ng-odometer [number]="540" [config]="{theme : 'machine' }"></tm-ng-odometer>
                        <p>الدكاترة الخبراء</p>
                    </h3>
                </div>
            </div> <!--./col-->

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="single-fun-facts">
                    <div class="icon">
                        <i class="fas fa-lightbulb"></i>
                    </div>
                    <h3>
                        <span class="optional-icon">K</span>
                        <tm-ng-odometer [number]="998" [config]="{theme : 'machine' }"></tm-ng-odometer>
                        <p>حل المشاكل</p>
                    </h3>
                </div>
            </div> <!--./col-->

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="single-fun-facts">
                    <div class="icon">
                        <i class="fas fa-user-nurse"></i>
                    </div>
                    <h3>
                        <span class="optional-icon">+</span>
                        <tm-ng-odometer [number]="100" [config]="{theme : 'machine' }"></tm-ng-odometer>
                        <p>حائزون علي جوائز</p>
                    </h3>
                </div>
            </div> <!--./col-->

            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="single-fun-facts">
                    <div class="icon">
                        <i class="fas fa-trophy"></i>
                    </div>
                    <h3>
                        <span class="optional-icon">K</span>
                        <tm-ng-odometer [number]="56" [config]="{theme : 'machine' }"></tm-ng-odometer>
                        <p>الخبرات</p>
                    </h3>
                </div>
            </div> <!--./col-->
        </div>
    </div>
</div>

