<!--


<div class="doctor-area pd-t">
    <div class="section-title w-100">
        <span>الأطباء</span>
        <h2>اطبائنا</h2>
        <p>تعرف علي مقدمي الخدمات</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let slide of slidesImg">
                <div class="single-doctor-box">
                    <div class="doctor-image">
                      <img [src]="slide.image" alt="">
                      <a href="" class="details-btn">
                          <i class="fas fa-plus"></i>
                      </a>
                    </div>
                    <div class="doctor-content">
                        <h3><a href="">{{slide.title}}</a></h3>
                        <span>{{slide.content}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

-->

<div class="text-center mt-5">
    <h3>هذه الصفحة غير متاحه حالياً سوف يتم فتحها لاحقا !</h3>
<a href="#" class="btn btn-primary" routerLink="/">الصفحة الرئيسية
    <i class="fas fa-angle-right"></i>
</a>

</div>
